---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="my-10 ">
    <div class="h-14 bg-primary rounded-sm flex justify-center">
        <h2 class="text-center text-light text-2xl align-middle flex self-center">
            {title}
        </h2>

    </div>
    <div set:html={description} class="py-5 px-8 border-opacity-15 border border-dark rounded-b-sm text-lg" />
</div>
