---

---

<footer class="w-full bg-light-footer-background mt-14">
    <div class="md:w-2/3 max-w[calc(100%-2rem)] flex flex-col md:flex-row mx-auto py-6 pl-4 text-primary-dark justify-between">
        <div class="my-10">
            <p>© 2011-2025 Venaesthetics AG</p>
            <br />
            <p>Dr. med. Stephan Koeferli</p>
            <p>Haus zur Pyramide</p>
            <p>Klausstrasse 10</p>
            <p>8008 Zürich</p>
        </div>
        <div class="my-10 flex-col flex pr-4">
            <p class="mb-6 md:ml-auto">Developed by <a href="https://socodia.com"></a></p>
            <a href="https://socodia.com" class="flex md:self-end">
                <img src="/socodia.svg" alt="Software Company Dias Logo" class="h-5"/>
            </a>
        </div>
    </div>
</footer>
