---

---

<footer class="w-full bg-primary-dark mt-10">
    <div class="w-2/3 max-w[calc(100%-2rem)] flex flex-col md:flex-row mx-auto py-6 text-light justify-between">
        <div class="my-10">
            <p>© 2011-2024 Venaesthetics AG</p>
            <br />
            <p>Dr. med. Stephan Koeferli</p>
            <p>Haus zur Pyramide</p>
            <p>Klausstrasse 10</p>
            <p>8008 Zürich</p>
        </div>
        <div class="my-10 flex-col flex">
            <p class="mb-6">Proudly made by <a href="https://dscs.io">dscs.io</a></p>
            <a href="https://dscs.io" class="flex md:self-end">
                <img src="/dscs.svg" alt="Dias Software Consulting Services Logo" class="h-12"/>
            </a>
        </div>
    </div>
</footer>
