---
import { getLangFromUrl, useTranslations } from "../data/utils";
import { getItemsByFilter } from "../common/dato-client";

const lang = getLangFromUrl(Astro.url);
const records: any = await getItemsByFilter("teaser", lang);
let teaser = {};
if (records?.length > 0) {
    teaser = records[0].content[lang];
}

const t = useTranslations(lang);
---

<div class="mt-28">
    <img src="/logo-full.svg" alt="large logo venaesthetics" />
    <div class="flex justify-center flex-col">
        <h2 class="text-4xl mx-auto text-primary my-5">{t("hero.motto")}</h2>
        <button
            class="bg-primary-dark text-light mx-auto px-4 py-1.5 rounded my-5 drop-shadow-md hover:drop-shadow-xl hover:brightness-110"
            >{t("hero.appointment")}</button
        >
        <h3 class="text-xl mx-auto my-5">{teaser}</h3>
    </div>

    <hr class="mx-auto w-1/2 my-16" />
</div>

