---
import { getLangFromUrl, useTranslations } from "../data/utils";
import { getItemsByFilter } from "../common/dato-client";

interface Props {
    teaserVisible: boolean;
}


const lang = getLangFromUrl(Astro.url);
const records: any = await getItemsByFilter("teaser", lang);
let teaser = {};
if (records?.length > 0) {
    teaser = records[0].content[lang];
}

const t = useTranslations(lang);
const mailtoTemplate = t('misc.mailTemplate');
const { teaserVisible } = Astro.props;

---

<div class="absolute h-full w-screen -z-10 left-0 right-0 top-0 min-h-[350px] max-h-[400px] sm:max-h-[400px] md:max-h-[475px] lg:max-h-[525px] bg-center bg-cover bg-no-repeat bg-hero "></div>
<div class="pt-28 mx-auto flex flex-col">
    <div class="flex justify-center flex-col">
        <div class=" bg-cover flex flex-col bg-center">
            <img
                src="/logo-full.svg"
                alt="large logo venaesthetics"
                class="hidden md:block"
            />
            <img
                src="/logo-single.svg"
                alt="large simplified logo venaesthetics"
                class="md:hidden"
            />
            <h2 class="lg:text-4xl text-2xl mx-auto text-primary my-5">
                {t("hero.motto")}
            </h2>
        </div>
        <a href={mailtoTemplate}
            class="bg-primary-dark text-light mx-auto px-6 py-2 rounded my-5 drop-shadow-md hover:drop-shadow-xl hover:brightness-110"
            >{t("hero.appointment")}</a
        >
        <h3 class=`md:text-xl text-lg mx-auto my-5 ${teaserVisible ? '': 'hidden'}`>{teaser}</h3>
    </div>

    <hr class=`mx-auto w-1/2 lg:my-16 mt-16  ${teaserVisible ? '': 'hidden'}` />
</div>
