---
import type { Lang } from '../common/constants.ts';
import Navigation from "./Navigation.astro";
import Hero from "./Hero.astro";
import Section from './Section.astro';
import Competences from './sections/Competences.astro';
import { useTranslations } from '../data/utils';
import References from './sections/References.astro';

interface Props {
    lang: Lang;
}

const { lang } = Astro.props;

const t = useTranslations(lang);
---
<Navigation />
<main>
   <Hero />
   <Section title={t('competences.title')} id="competences">
	<Competences />
   </Section>
   <Section title={t('references.title')} id="references">
	<References />
	</Section>	
   
</main>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
