---
import type { Lang } from '../common/constants.ts';
import Navigation from "./Navigation.astro";
import Hero from "./Hero.astro";
import Section from '../layouts/Section.astro';
import Competences from './sections/Competences.astro';
import { useTranslations } from '../data/utils';
import References from './sections/References.astro';
import Contact from './sections/Contact.astro';
import Footer from './Footer.astro';

interface Props {
    lang: Lang;
}

const { lang } = Astro.props;

const t = useTranslations(lang);
---
<Navigation />
<main class="md:w-2/3 w-full m-auto p-1 font-raleway">
   <Hero />
   <Section title={t('competences.title')} id="competences">
	<Competences />
   </Section>
   <Section title={t('references.title')} id="references">
	<References />
   </Section>
   <Section title={t('contact.title')} id="contact" >
	<Contact />
   </Section>
</main>

<Footer />