---
import { defaultLang } from "../data/ui";
import { getLangFromUrl } from "../data/utils";
import Menu from "./react-components/Menu";

const url = Astro.url;
const lang = getLangFromUrl(url);
---

<nav class="bg-white flex justify-center">
    <div class="justify-between lg:w-2/3 flex w-full  mx-5">
        <a href={lang === defaultLang ? "/" : `/${lang}`} class="min-w-[60px] z-10">
            <img
                src="/logo-small.svg"
                alt="Venaesthetics logo"
                class="my-1"
            />
        </a>
        <Menu url={url} client:visible />
    </div>
</nav>
