---
import Menu from "./Menu";

const url = Astro.url;
---

<nav class="bg-primary-dark flex justify-center">
    <div class="justify-between lg:w-2/3 w-full flex text-light mx-10">
        <img src="/logo-small-light.svg" alt="Venaesthetics logo" class="mb-1"/>
        <Menu url={url} client:visible />
    </div>
</nav>
