---
import { defaultLang } from '../data/ui';
import { useTranslations, getLangFromUrl } from '../data/utils';
import LanguagePicker from './LanguagePicker';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<nav class='bg-primary-dark flex justify-center'>
    <div class="justify-between w-2/3 flex text-light ">
    <img src="/logo-small-light.svg" alt="Venaesthetics logo">
    <div class="mx-14 flex">
        <div class="my-auto mx-6 active:font-bold"><a href={lang === defaultLang ? '#competences' : `/${lang}/#competences`}>{t('links.competences')}</a></div>
        <div class="my-auto mx-6"><a href={lang === defaultLang ? '#references' : `/${lang}/#references`}>{t('links.references')}</a></div>
        <div class="my-auto mx-6"><a href={lang === defaultLang ? '#contact' : `/${lang}/#contact`}>{t('links.contact')}</a></div>
    </div>
    <div class="my-auto">
        <LanguagePicker url={Astro.url} client:visible/>
    </div>
</div>
</nav>