---
import { defaultLang } from "../data/ui";
import { getLangFromUrl } from "../data/utils";
import Menu from "./react-components/Menu";

const url = Astro.url;
const lang = getLangFromUrl(url);
---

<nav class="bg-primary-dark flex justify-center">
    <div class="justify-between lg:w-2/3 flex w-full text-light mx-10">
        <a href={lang === defaultLang ? "/" : `/${lang}`} class="min-w-[60px]">
            <img
                src="/logo-small-light.svg"
                alt="Venaesthetics logo"
                class="mb-1"
            />
        </a>
        <Menu url={url} client:visible />
    </div>
</nav>
